@use "sass:math";

@import "_reset.scss";

@import "_components.scss";

@import "_functions.scss";


body {
	
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;

}

.wrapper>main {
	flex-grow: 1;
}
body {
      font-family: sans-serif;
      background: linear-gradient(to bottom, #a70000, #4d0000);
    }
	 main{		
       font-weight: bold;
       text-shadow: 1px 1px 2px #000;
		 margin-top: toRem(15);
	 }

	 [class*="__container"] {
	max-width: toRem(1270);
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
}

//     .header {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       padding: 20px 10px;
//       font-size: 24px;
//       font-weight: bold;
//       text-shadow: 1px 1px 2px #000;
//       position: relative;
//     }

//     .back-btn {
//       position: absolute;
//       left: 15px;
//       font-size: 24px;
//       cursor: pointer;
//     }

//     .months {
//       display: flex;
//       flex-direction: column;
//       gap: 12px;
//       padding: 10px 20px 30px;
//     }

//     .month-btn {
//       background: transparent;
//       border: 2px solid #f5d97d;
//       border-radius: 15px;
//       color: #f5d97d;
//       font-size: 20px;
//       padding: 15px;
//       text-align: center;
//       cursor: pointer;
//       transition: 0.3s;
//     }

//     .month-btn:hover {
//       background: rgba(245, 217, 125, 0.1);
//     }
// ==========================================================================================================
.schedule {

	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
		// .schedule__work

		&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		gap: 20px;
		margin-bottom: toRem(20);

		}

		// .schedule__list

		&__list {
			display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		gap: 20px;
	

		}

		// .schedule__item

		&__item {


			
		}

		// .schedule__button

		&__button{
		font-size: toRem(26);
		font-weight: 500;
		background: transparent;
      border: 2px solid #f5d97d;
      border-radius: toRem(15);
      color: #f5d97d;
      text-align: center;
		min-height: toRem(60);

		.schedule__item &{
			width: 100%;
		}
		.schedule__item &{
			font-size: toRem(24);
		}

		
		
		}
// ============================================================================================
		.item-schedule {
			display: flex;
			
			// align-items: flex-end;
			&__spoller{

		padding: toRem(15) toRem(15);
		background: transparent;
      border: 2px solid #f5d97d;
      border-radius: toRem(15);
      text-align: center;
		min-height: toRem(60);
			}
			&__button{
					font-size: toRem(26);
					font-weight: 500;
      			color: #f5d97d;
					width: 100%;



				
	}
				// .item-schedule__list

		&__list {	
		font-size: toRem(24);
		background-color: #f5d97d2a;
			// padding-top: toRem(20);
			margin-top: toRem(20);

		
			
	
		}

		// .item-schedule__item

		&__item {
		background: transparent;
      border: 2px solid #f5d97d;
      border-radius: 15px;
      color: #f5d97d;

      text-align: center;
		&:not(:last-child) {
		margin-bottom: toRem(20);
		}
		// margin-top: toRem(20);
		}
		display: flex;
		flex-direction: column;
		

		&__route {
			align-content: center;
		min-height: toRem(60);
		width: 100%;
			
	
			
		}
}



}

